GOOGLE_API_KEY=
TAVILY_API_KEY=

NEO4J_URI=neo4j+s://xxxxxxxx.databases.neo4j.io
NEO4J_USERNAME=xxxxxxxx
NEO4J_PASSWORD=
NEO4J_DATABASE=xxxxxxxx

SUPABASE_URL=https://xxxxxxxx.supabase.co
SUPABASE_KEY=
